div{
    color:#BADA55;
    background-color:black;
}
.inverse{
    color:black;
    background-color: #BADA55;
}
.button{
    border-radius:5px;
    background-color:cyan;
    color:black;
    box-shadow: none;
    border:none;
}